---
layout: default
---

article#post.post
  if (typeof document.series != "undefined")
    h2.series= document.series
  h1= document.title
  .meta.clearfix
    i= moment(document.date).format("LL")
    //- != getSocialButtons(["TwitterTweet","HackerNewsSubmit"])
  .post-content!= content

footer
  if document.relatedDocuments && document.relatedDocuments.length
    section#related
      h3 Related Posts
      nav.linklist
        each doc in document.relatedDocuments
          li
            span= moment(doc.date).format("LL")
            |  &raquo;&nbsp;
            a(href=doc.url)
              if (typeof doc.series != "undefined")
                != doc.series
                | : 
              != doc.title
